# ======================================================================================== #
#     ___         _        ___
#    / __|___  __| |___   / _ \__ __ ___ _  ___ _ _ ___
#   | (__/ _ \/ _` / -_) | (_) \ V  V / ' \/ -_) '_(_-<
#    \___\___/\__,_\___|  \___/ \_/\_/|_||_\___|_| /__/
#
# ======================================================================================== #

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, the designated team will be requested
# for review when someone opens a pull request.
*       @loreal-datafactory/btdp-framework
